---
import TheHeader from "../components/the-header.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <TheHeader />
      <slot />
    </div>
    <style is:global>
      @import "@exampledev/new.css/new.css";
      :root {
        --nc-font-sans: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
          "Hiragino Sans", Meiryo, sans-serif !important;
      }

      img {
        height: auto;
      }
    </style>
  </body>
</html>
